.container {
    text-align: center;
    background-color: rgb(190, 242, 255);
}

.snake-block {
    width: 10px;
    height: 10px;
    border: 1px solid rgb(86, 255, 99);
    display: inline-block;
}

.snake-block.black {
    background-color: black;
}

.snake-block.red {
    background-color: red;
}

.snake-block.green {
    background-color: green;
}

.snake-block.blue {
    background-color: blue;
}

.snake-block.yellow {
    background-color: yellow;
}

#snake-container {

    width: 600px;
    height: 600px;
    background-color: rgb(86, 255, 99);
    display: inline-block;
    line-height: 0;
    border: 1px solid black;
    margin-top: 6px;
}

#p1score {
    color: black;
}

#p2score {
    color: green;
}

#p3score {
    color: blue;
}

#p4score {
    color: yellow;
}

#instructions {

    position: absolute;

}





