extends layout

block content
    div.navbar
        div.navbar-inner
            a.brand(href="/")= title
            ul.nav
                li
                    a#start(href="") Start
                    //button#start.btn.btn-small.btn-primary(type="button") Start
                li
                    a#multiPlayer(href="") MultiPlayer
                li  
                    a 

                div.btn-group(data-toggle="buttons-radio")
                  button.speed.btn(type="button") Slow
                  button.speed.btn.active(type="button") Medium
                  button.speed.btn(type="button") Fast

            ul.nav.pull-right
                li
                    a#p1score 0

    br
    div#snake-container
        //- div#instructions
        //-     p s = start
            
            
