doctype 5
html(lang='en', ng-app='myApp')
    head
        meta(charset='utf-8')
        title= title
        link(rel='stylesheet', href='/css/bootstrap-3.2.3.css')
        //link(rel='stylesheet', href='/css/bootstrap-responsive.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/snake.css')
    body
        div.container                
            block content
    |<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    |<script>window.angular || document.write('<script src="lib/angular/angular.js"><\/script>')</script>    
    //script(src='lib/angular/angular.js')
    script(src='socket.io/socket.io.js')
    |<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
    |<script>window.jQuery || document.write('<script src="js/jquery-2.0.1.js"><\/script>')</script>    
    //script(src='js/jquery-2.0.1.js')    
    script(src='js/bootstrap-3.2.3.js')    
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
    |<script src="//cdn.craig.is/js/mousetrap/mousetrap.min.js"></script>
    |<script>window.Mousetrap || document.write('<script src="js/mousetrap.min.js"><\/script>')</script>
    script(src='js/stochator.js')    
    script(src='js/snake-0.0.1.js')
    script(src='js/main.js')

    block footer