extends layout

block content
    div.navbar
        div.navbar-inner
            a.brand(href="/")= title
            ul.nav
                li
                    a#start(href="") Start
                    //button#start.btn.btn-small.btn-primary(type="button") Start
            ul.nav.pull-right
                li
                    a#p1score 0

    br
    div#snake-container
        //p noCanvas

block footer
    script(src='js/sockets.js')
